:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.welcome-text {
    text-wrap: normal;
    width: 80%;
    display: flex;
    justify-content: center;
}
