<form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="firstNameInput">Enter First Name:</label>
        <input type="text" id="firstNameInput" formControlName="firstNameInput" />
        <div *ngIf="isInvalid()" class="error">
            First name is required.
        </div>
    </div>
    <div>
        <label for="lastNameInput">Enter Last Name:</label>
        <input type="text" id="lastNameInput" formControlName="lastNameInput" />
        <div *ngIf="isInvalid()" class="error">
            Last name is required.
        </div>
    </div>
    <div>
        <label for="emailIdInput">Enter email address:</label>
        <input type="text" id="emailIdInput" formControlName="emailAddressInput" />
        <div *ngIf="isInvalid()" class="error">
            Email address is required.
        </div>
    </div>
    <button type="submit" [disabled]="customerForm.invalid">Submit</button>
</form>