<form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label for="firstNameInput">Enter First Name:</mat-label>
        <input matInput type="text" id="firstNameInput" formControlName="firstNameInput" />
        <mat-error *ngIf="isInvalid('firstNameInput')" class="error">
            First name is required.
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label for="lastNameInput">Enter Last Name:</mat-label>
        <input matInput type="text" id="lastNameInput" formControlName="lastNameInput" />
        <mat-error *ngIf="isInvalid('lastNameInput')" class="error">
            Last name is required.
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label for="emailIdInput">Enter email address:</mat-label>
        <input matInput type="text" id="emailIdInput" formControlName="emailAddressInput" />
        <mat-error *ngIf="isInvalid('emailAddressInput')" class="error">
            Email address is required.
        </mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit" [disabled]="customerForm.invalid">Submit</button>
</form>